<h1>Listing storycreator_algorithms</h1>

<table>

<% @storycreator_algorithms.each do |storycreator_algorithm| %>
  <tr>
    <%= link_to "#{storycreator_algorithm.identifier}", "/storycreator_algorithms/"+storycreator_algorithm.id.to_s %>
    <p><%= storycreator_algorithm.server %></p>
    <p><%= storycreator_algorithm.database %></p>
    <p><%= storycreator_algorithm.tables %></p>
    <td><%= link_to 'Show', storycreator_algorithm %></td>
    <td><%= link_to 'Edit', edit_storycreator_algorithm_path(storycreator_algorithm) %></td>
    <td><%= link_to 'Destroy', storycreator_algorithm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Storycreator algorithm', new_storycreator_algorithm_path %>
